<%- include('../partials/head') %>

<%- include('../partials/subHeader') %>
<body>
    <h2>DETALLE PELÍCULA</h2>
    <h1><%= peli.title %></h1>
    <p>FECHA DE ESTRENO: <%= moment(peli.release_date).format('DD-MM-YYYY') %></p>
    <p>RATING: <%= peli.rating %></p>
    <p>DURACIÓN: <%= peli.length %> minutos</p>
    <p>PREMIOS: <%= peli.awards %></p>
    <% if(peli.Genre) { %></p>
        <p>GENERO: <a href="../genre/<%=peli.Genre.id%>"><%= peli.Genre.name %></a></p>
    <% }%>
    <p> ACTORES: </p>
    <% peli.actores.forEach(actor => { %>
        <a href="../../actors/detail/<%=actor.id%>">    
        <p><%= actor.first_name %> <%= actor.last_name %></p>
        </a>
    <% }) %>
    
    <!-- BOTONES DE EDICIÓN Y BORRADO -->
    <div class="detail_buttons">
        <a href="../edit/<%=peli.id%>">
            <button class="edit_button" type="button">MODIFICAR</button>
        </a>
        
        <form action="../delete/<%=peli.id%>?_method=DELETE" method="POST">
            <button class="delete_button" type="submit">BORRAR</button>
        </form>

    </div>
</body>
</html>