<%- include('../partials/head') %>

<%- include('../partials/header') %>
<body>


    <h1>TOP PELÍCULAS</h1>
    <% for (let i = 0; i < pelis.length; i++) { %>
    <p><%= i+1%>)</p>
    <a href="/movies/<%=pelis[i].id%>"><p><%= pelis[i].title %></p></a>
    <p>Rating: <%=pelis[i].rating%></p>
    <% } %>
</body>
</html>