<%- include('../partials/head') %>

<%- include('../partials/subheaderActors') %>
<body>
    <h2>DETALLE ACTOR</h2>
    <h1><%= actor.first_name%> <%= actor.last_name%></h1>
    <p>RATING: <%= actor.rating %></p>
    <p>PELÍCULA FAVORITA: <a href="../../movies/detail/<%=actor.favorite_movie.id%>"><%= actor.favorite_movie.title %></a></p>

    <p> PELICULAS DONDE ACTUÓ: </p>
    <% actor.peliculas.forEach(pelicula => { %>
        <a href="../../movies/detail/<%=pelicula.id%>">    
        <p><%= pelicula.title %></p>
        </a>
    <% }) %>
    
    <!-- BOTONES DE EDICIÓN Y BORRADO -->
    <div class="detail_buttons">
        <a href="../edit/<%=actor.id%>">
            <button class="edit_button" type="button">MODIFICAR</button>
        </a>
        
        <form action="../delete/<%=actor.id%>?_method=DELETE" method="POST">
            <button class="delete_button" type="submit">BORRAR</button>
        </form>

    </div>
</body>
</html>