<%- include('../partials/head') %>

<%- include('../partials/headerActors') %>
<body>


    <h1>ÚLTIMOS ACTORES</h1>
    <% for (let i = 0; i < actorsList.length; i++) { %>
    <p><%= i+1%>)</p>
    <a href="/actors/detail/<%=actorsList[i].id%>"><p><%= actorsList[i].first_name %> <%= actorsList[i].last_name %></p></a>
    <p>Fecha de...: </p>
    <% } %>
</body>
</html>